.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* Adaugă aceste stiluri în fișierul CSS al aplicației tale sau într-un fișier separat */

.auth-container {
  width: 300px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9; /* Culoare de fundal pastelată */
}

h2 {
  text-align: center;
  color: #555; /* Culoare de text pastelată */
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  color: rgb(54, 53, 53); /* Culoare de text pastelată pentru etichete */
}

input {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 3px;
}

button {
  padding: 10px;
  background-color: #66b2ff; /* Culoare de fundal pastelată pentru buton */
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #b7c6cc; /* Culoare de fundal pastelată pentru buton la hover */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #c2ebe8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(102, 51, 51);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

